.container {
  max-width: initial;
}

.container-size {
  height: 205px;;
}

cdk-virtual-scroll-viewport {
    height: calc(100vh - 86px - 2rem);
    // padding-left: 15px;
    // padding-right: 15px;
  }

  /deep/ .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
  }

