<cdk-virtual-scroll-viewport [itemSize]="205 / 3" minBufferPx="300" maxBufferPx="400">
  <ng-container *cdkVirtualFor="let car of cars; index as idx">
    <!-- *ngIf="car['Cool Factor'] > 6" -->
    <div class="container-size col-12 col-sm-6 col-md-4 p-2 animated fadeInUp">

      <app-card [car]="car" [idx]="idx"></app-card>

      <!-- <div class="m-2" style="width: 100%;
      height: 100px;
      background-color: red;"> -->
      <!-- </div> -->

    </div>

  </ng-container>
</cdk-virtual-scroll-viewport>
