/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
* {
    cursor: pointer !important;
    &:hover {
        cursor: pointer !important;
    }
}

@keyframes shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }
  

.transition {
    transition: 0.5s;
}

.fade {
    display: block;
    opacity: 0;
    touch-action: none;
    pointer-events: none;
}
.fade-in {
    opacity: 1 !important;
    touch-action: auto !important;
    pointer-events: auto !important;
}

// Material
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Animate Css
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }